@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    
    --color-background: #FBFAF9;
    --color-primary: #543BCE;
    --color-secondary: #EFEFF0;
    --color-success: #1c2940;
}